{% extends "base.html" %}
{% block title %}about{% endblock title %}about
{% block body %}
<div class = "my-4 " >
    <div class="row" >
        <div class="col-sm-6">
          <div class="card" style ="background-color: aliceblue;">
            <div class="card-body">
              <h5 class="card-title">CHOICE NO-2</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">DONE</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" style ="background-color: aliceblue;">
            <div class="card-body">
              <h5 class="card-title">CHOICE NO-1</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">DONE</a>
            </div>
          </div>
        </div>
      </div>
      <div class = "my-4 " >
        <div class="row" >
            <div class="col-sm-6">
              <div class="card" style ="background-color: antiquewhite">
                <div class="card-body">
                  <h5 class="card-title">CHOICE NO-4</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">DONE</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card" style ="background-color: antiquewhite">
                <div class="card-body">
                  <h5 class="card-title">CHOICE NO-3</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">DONE</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class = "my-4 " >
        <div class="row" >
            <div class="col-sm-6">
              <div class="card" style ="background-color: antiquewhite">
                <div class="card-body">
                  <h5 class="card-title">CHOICE NO-6</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">DONE</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card" style ="background-color: antiquewhite">
                <div class="card-body">
                  <h5 class="card-title">CHOICE NO-5</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">DONE</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock body %}