{% extends "base.html" %}
{% block services %}services{% endblock services %}services
{% block body %}
<div style = "margin-top: 6px">
    <figure class="figure">
        <img src="static\photo-1707343843437-caacff5cfa74.avif" class="figure-img img-fluid rounded h-20 p-3" alt="..."  >
     <figcaption class="figure-caption">When life feels overwhelmingly negative, it is easy to lose sight of how important happiness is. Most of the time people aren’t even aware, that they are the root of their own unhappiness.</figcaption>
     
</div>
    
{% endblock body %}